*{
    color: white;
}
body{
    background-image: url(../img/bg.jpg);
}
.container{
    width: 80%;
    margin: 0 auto;
}
main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}
section{
    text-align: center;
}
h1{
    font-size: 50px;
}

form{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.btn{
    background-color: #5E54A4;
    padding: 15px;
    width: 100%;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}
.sbt{
    width: 100%;
    background-color: #38CC8B;
    border: none;
    padding: 15px;
    border-radius: 14px;
    cursor: pointer;
}
div{
    margin-top: -100px;
}
input{
    padding: 10px 25px;
    color: black;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    width: 300px;
}
input[required]{
    border: 2px solid red;
    color: red;
}
@media only screen and (max-width:550px){
    main{
        width: 390px;

    }
    main .container{
        flex-wrap: wrap;
    }
    section{
        padding: 10px;
        width: 100%;
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    form{
        padding: 10px;
        width: 350px;
    }
    input{
        width: 85%; 
    }
    div{
        margin-top: 30px;
        justify-content: center;
    }
}